@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --title-color: #db00ff;
    --accent-color: #ff0070;
    --button-color: #ff0070;
    --title-text-color: #000028;
    --title-section-color: #ff0070;
    --text-color: #f1b2ce;
    --bg-title-text: #ff0070;
    --color-hover: #ff007066;
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}

:root.theme-dark {
  --bg-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --button-color: #ff0070;
  --title-text-color: #000028;
  --title-section-color: #ff0070;
  --text-color: #f1b2ce;
  --bg-title-text: #ff0070;
  --color-hover: #ff007066;
}

.theme-dark .page {
  background-image: url(../images/cover-image-dark.png);
}

.theme-dark .rec {
  display: flex;
  position: absolute;
  z-index: 1;
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: var(--text-size);
  line-height: 1.5625rem;
  color: var(--accent-color);
  top: 0;
  right: 0;
  align-items: center;
  text-align: center;
  padding-right: 8px;
  gap: 10px;
}

.theme-dark .rec::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
}
