@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --button-color: #353430;
    --title-text-color: #353430;
    --title-section-color: #353430;
    --text-color: #353430;
    --bg-title-text: #ff8dcb;
    --color-hover: #32312d66;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .rec {
    display: none;
  }
  .decorated-zone::after {
    border-color: var(--button-color);
  }

  .decorated-zone::before {
    border-color: var(--button-color);
  }
}

:root.theme-light {
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --button-color: #353430;
  --title-text-color: #353430;
  --title-section-color: #353430;
  --text-color: #353430;
  --bg-title-text: #ff8dcb;
  --color-hover: #32312d66;
}

.theme-light .page {
  background-image: url(../images/cover-image-light.png);
}

.theme-light .rec {
  display: none;
}

.theme-light .decorated-zone::after {
  border-color: var(--button-color);
}

.theme-light .decorated-zone::before {
  border-color: var(--button-color);
}
