:root {
  --title-text-size: 1.125rem;
  --text-size: 1.125rem;
  --line-hight-text: 1.4625rem;
  --title-header-size-mobile: 7.25rem;
  --button-text-size-mobile: 1.125rem;
  --title-header-size-tablet: 7.5rem;
  --button-text-size-tablet: 1.125rem;
  --line-hight-button-tablet: 1.125rem;
  --title-header-size-desktop: 9.8125rem;
  --button-text-size-desktop: 1.125rem;
}

.rec {
  display: flex;
  position: absolute;
  z-index: 1;
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: var(--text-size);
  line-height: 1.5625rem;
  color: var(--accent-color);
  top: 0;
  right: 0;
  align-items: center;
  text-align: center;
  padding-right: 8px;
  gap: 10px;
}

.rec::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
}
